In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#Bai1

In [2]:
df= sns.load_dataset("taxis")

<font size="6">Bài 1</font>

In [3]:
df.head(2)

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan

In [4]:
df.tail(2)

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [5]:
df.dtypes

pickup             datetime64[ns]
dropoff            datetime64[ns]
passengers                  int64
distance                  float64
fare                      float64
tip                       float64
tolls                     float64
total                     float64
color                      object
payment                    object
pickup_zone                object
dropoff_zone               object
pickup_borough             object
dropoff_borough            object
dtype: object

In [6]:
df.shape

(6433, 14)

Bai 2

In [7]:
df["pickup"].min()

Timestamp('2019-02-28 23:29:03')

In [8]:
df["pickup"].max()

Timestamp('2019-03-31 23:43:45')

In [9]:
cond = ((df["pickup"] >= "2019-3-1") & (df["pickup"] < "2019-4-1")) == True

In [10]:
cond

0       True
1       True
2       True
3       True
4       True
        ...
6428    True
6429    True
6430    True
6431    True
6432    True
Name: pickup, Length: 6433, dtype: bool

In [11]:
df_mar=df.loc[cond]

In [12]:
df_mar.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [13]:
df_mar.shape[0]

6432

In [14]:
df_mar["pickup"].dt.day_name().value_counts()

Friday       1115
Saturday     1046
Wednesday     966
Thursday      904
Sunday        868
Tuesday       825
Monday        708
Name: pickup, dtype: int64

Bai 3

In [15]:
pd.unique(df_mar["color"])

array(['yellow', 'green'], dtype=object)

In [16]:
len(pd.unique(df_mar["color"]))

2

In [17]:
pd.unique(df_mar["payment"])

array(['credit card', 'cash', nan], dtype=object)

In [18]:
cond_cash = df_mar["payment"] == "cash"

In [19]:
df_mar.loc[cond_cash].shape[0]

1811

In [20]:
#ti le tra tien bang cash 
"{:.2%}".format((df_mar.loc[cond_cash].shape[0]-1)/(df_mar.shape[0]-1))

'28.14%'

In [21]:
#ty le tra tien bang credit card
cond_creditcard=df_mar["payment"]== "credit card"
"{:.2%}".format((len(df_mar.loc[cond_creditcard])-1)/(len(df_mar["payment"])-1))

'71.16%'

In [32]:
df_mar["payment"].value_counts(normalize=True)*100

credit card    71.649969
cash           28.350031
Name: payment, dtype: float64

Bai 4

In [22]:
#trung binh tien tip
df_mar["tip"].mean()

1.9795273631840744

In [23]:
# median bình tiền tip cho mỗi chuyến xe
df_mar["tip"].median()

1.7

In [24]:
#trung bình tiền tip cho mỗi chuyến xe theo từng hình thức payment cash
df_mar.loc[cond_cash]["tip"].mean()

0.0

In [25]:
#trung bình tiền tip cho mỗi chuyến xe theo từng hình thức payment credit card
df_mar.loc[cond_creditcard]["tip"].mean()

2.781804675551664

In [26]:
#số lượng hành khách trung bình trên mỗi chuyến xe
df_mar["passengers"].mean()

1.5393345771144278

In [27]:
#tổng doanh thu
df_mar["fare"].sum()

84209.87

Phan B
Bai 1

In [57]:
df_mar["pickup"].dt.hour.value_counts().sort_values(ascending=False).head(5)

18    417
19    406
17    388
20    368
14    360
Name: pickup, dtype: int64

In [64]:
cond = (df_mar["pickup_borough"] == df_mar["dropoff_borough"])

In [72]:
df_mar["same_borough"]= np.where(cond,1,0)
df_mar

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_12692\709042944.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mar["same_borough"]= np.where(cond,1,0)

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough,same_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan,1
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan,1
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan,1
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan,1
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan,1
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx,0
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn,1
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn,1
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn,1

In [76]:
df_mar["same_borough"].value_counts()

1    5581
0     851
Name: same_borough, dtype: int64

Bai2

In [81]:
cond_bai2_1= (df_mar["pickup_borough"] == "Manhattan")

In [82]:
df_mar.loc[cond_bai2_1]["distance"].mean()

2.3497228549734226

In [102]:
delta = df_mar["dropoff"]-df_mar["pickup"]
df_mar["duration"]=delta.dt.total_seconds()/60

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_12692\3481313226.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mar["duration"]=delta.dt.total_seconds()/60

In [104]:
df_mar["duration"].mean()

14.351298196517401

In [114]:
df_mar[["duration","same_borough"]].groupby("same_borough").mean()

               duration
same_borough
0             31.713670
1             11.703855