In [1]:
import pandas as pd
df=pd.read_excel("data/invoice_2011_07.xlsx")

In [2]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,559518,21989,PACK OF 20 SKULL PAPER NAPKINS,6,07/08/2011 16:11,1.63,NaN,United Kingdom
1,559518,22055,MINI CAKE STAND HANGING STRAWBERY,1,07/08/2011 16:11,3.29,NaN,United Kingdom
2,559518,22179,SET 10 NIGHT OWL LIGHTS,1,07/08/2011 16:11,13.29,NaN,United Kingdom
3,559518,22297,HEART IVORY TRELLIS SMALL,1,07/08/2011 16:11,2.46,NaN,United Kingdom
4,559518,22352,LUNCH BOX WITH CUTLERY RETROSPOT,1,07/08/2011 16:11,4.96,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
28216,561903,21900,"KEY FOB , SHED",24,7/31/2011 16:04,0.65,17162.0,United Kingdom
28217,561903,48187,DOORMAT NEW ENGLAND,2,7/31/2011 16:04,7.95,17162.0,United Kingdom
28218,561903,85152,HAND OVER THE CHOCOLATE SIGN,12,7/31/2011 16:04,2.10,17162.0,United Kingdom
28219,561903,82600,NO SINGING METAL SIGN,12,7/31/2011 16:04,2.10,17162.0,United Kingdom
28220,561903,21175,GIN + TONIC DIET METAL SIGN,12,7/31/2011 16:04,2.55,17162.0,United Kingdom

In [7]:
df.shape

(28221, 8)

In [8]:
df.shape[0]

28221

In [9]:
df.shape[1]

8

In [11]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [14]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')